In [1]:
import pandas as pd

Load Data sets

In [4]:
df= pd.read_csv("netflix_raw_data.csv")

In [5]:
df.head(3)

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries"

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   country       8790 non-null   object
 5   date_added    8790 non-null   object
 6   release_year  8790 non-null   int64
 7   rating        8790 non-null   object
 8   duration      8790 non-null   object
 9   listed_in     8790 non-null   object
dtypes: int64(1), object(9)
memory usage: 686.8+ KB

In [8]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

Remove unwanted columns

In [10]:
df['rating']

0       PG-13
1       TV-MA
2       TV-MA
3       TV-PG
4       TV-MA
        ...
8785    TV-PG
8786    TV-Y7
8787    TV-PG
8788     TV-Y
8789    TV-Y7
Name: rating, Length: 8790, dtype: object

In [11]:
df.drop(columns="rating", inplace=True)

In [12]:
df.head(1)

,show_id,type,title,director,country,date_added,release_year,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,90 min,Documentaries

In [13]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'country', 'date_added',
       'release_year', 'duration', 'listed_in'],
      dtype='object')

Col name small to capital for first alphabet

In [14]:
new_col_name = []
for col in df.columns:
    new_col_name.append(col.capitalize())

In [15]:
new_col_name

['Show_id',
 'Type',
 'Title',
 'Director',
 'Country',
 'Date_added',
 'Release_year',
 'Duration',
 'Listed_in']

In [16]:
df.columns=new_col_name

In [17]:
df.head(1)

,Show_id,Type,Title,Director,Country,Date_added,Release_year,Duration,Listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,90 min,Documentaries

In [20]:
df.columns

Index(['Show_id', 'Type', 'Title', 'Director', 'Country', 'Date_added',
       'Release_year', 'Duration', 'Listed_in'],
      dtype='object')

Check duplicate or null value and how to deal with it (such as drop, replace the val(mean, median,mode))

In [ ]:
df.duplicated().sum()

0

In [ ]:
#if any duplicate value then
##df.drop_duplicates(keep='first', inplace=True)

In [29]:
df.isna().sum()

Show_id         0
Type            0
Title           0
Director        0
Country         0
Date_added      0
Release_year    0
Duration        0
Listed_in       0
dtype: int64

In [ ]:
#if there is any null value 
##df.dropna(inplace=True)

In [31]:
df.head(1)

,Show_id,Type,Title,Director,Country,Date_added,Release_year,Duration,Listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,90 min,Documentaries

categorize the id and change the data type

In [32]:
df["Show_id"].unique()

array(['s1', 's3', 's6', ..., 's8801', 's8784', 's8786'], dtype=object)

In [34]:
df["Show_id"].apply(lambda x: x.split("s")[1])

0          1
1          3
2          6
3         14
4          8
        ...
8785    8797
8786    8798
8787    8801
8788    8784
8789    8786
Name: Show_id, Length: 8790, dtype: object

In [35]:
df.head(1)

,Show_id,Type,Title,Director,Country,Date_added,Release_year,Duration,Listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,90 min,Documentaries

In [36]:
df["Show_id"] =df["Show_id"].apply(lambda x: x.split("s")[1])

In [37]:
df.head(1)

,Show_id,Type,Title,Director,Country,Date_added,Release_year,Duration,Listed_in
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,90 min,Documentaries

In [39]:
type(df["Show_id"][0])

str

In [40]:
df["Show_id"] = df["Show_id"].astype(int)

In [41]:
type(df["Show_id"][0])

numpy.int64

Change the shape of the date

In [43]:
df["Date_added"]= df["Date_added"].apply(lambda x: x.replace("/","-"))

In [44]:
df["Date_added"]

0        9-25-2021
1        9-24-2021
2        9-24-2021
3        9-22-2021
4        9-24-2021
           ...
8785     1-17-2017
8786     9-13-2018
8787    12-15-2016
8788     6-23-2018
8789      6-7-2018
Name: Date_added, Length: 8790, dtype: object

In [45]:
df.head(1)

,Show_id,Type,Title,Director,Country,Date_added,Release_year,Duration,Listed_in
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9-25-2021,2020,90 min,Documentaries

In [51]:
df.to_csv("Netflix_clean_data.csv",index=False)